.reqinput{  outline: none !important; border: 1px solid #719ECE;
    border-color: #719ECE;
   
    box-shadow: 0 0 10px #719ECE;}


.reqinput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c00;
}
.reqinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c00;
   opacity:  1;
}
.reqinput::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c00;
   opacity:  1;
}
.reqinput:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #c00;
}