.Pull-right{float: right;}
.Pull-left{float: left;}



@font-face{
    font-family:"bodyfont";
    src:url(../fonts/IRANSans-Light-web.woff) format('woff'),url(../fonts/IRANSans-Light-web.ttf) format('truetype');
    font-weight:400}
@font-face{
    font-family:"titlefont";
    src:url(../fonts/IRANSans-Bold-web.woff) format('woff'), url(../fonts/IRANSans-Bold-web.ttf) format('truetype');font-weight:700
}
h1,h2,h3,h4{
    font-family: "titlefont";
}
h3{ font-size: 16px;}
body{ direction: rtl; font-family: "bodyfont"; font-size: 12px;-webkit-print-color-adjust: exact;}

tr{background:0;background-color:0;}
.content-box{
    width: 1280px; margin: 15px auto ; padding: 0;
}
.content-box .sidex{padding:0px;  min-width: 500px; margin: 0px; display: inline-block;}
.post-content{font-family: "bodyfont"}



table{
	border:rgba(0,102,51,1) solid 0px;
}
select,input{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
a{ text-decoration:none; color:rgba(51,153,153,1);}			
a:hover{color: rgba(51,102,51,1);}				
				
/*TOP MENU*/
	#mess{
		line-height:24px;
		
		
		}	
.menu{
     font: 12px/27px Tahoma;
position: fixed;top:0; left: 0; width: 100%;
      color:#3366CC;
      height:35px;
      background:rgb(241,241,241);
      border-bottom: 2px solid #3498db;
      z-index: 10000;
}
.menu a:hover{
    background-color:#3498db; color: #fff;
}
.menu a {
    text-decoration: none;
    padding: 4px 12px 7px;
    color:#3366CC;
    outline:none;
    font-family: "bodyfont"; font-size: 12px;
}

.menu ul{
    list-style: none;
 z-index: 10000;
    margin:0;
    padding:0 0 0 10px;
}
.menu > ul{ width: 1280px; margin:0 auto;}
.menu ul li{
    padding:0;
    float:right;
     z-index: 10000;
}
.menu ul li ul li{
    padding:0;
    float:none;
    margin: 0 ;
    width:100%; min-width: 170px; z-index: 10000;
}
.menu ul li ul{
    position: absolute;
    border: 1px solid #C3D1EC;
    box-shadow: 0 1px 5px #CCCCCC;
    margin-top: -1px;
    display:none;
    background: #fff; min-width: 170px;
    padding: 5px; z-index: 9999; z-index: 10000;
}



.arrow {
    border-color: #3366CC transparent transparent;
    border-style: solid dashed dashed;
    margin-right: 5px;
    position: relative;
    top: 10px;
} 
		/*TOP MENU*/
		
/*	Data Table Style*/


	
	
#datatbl, #datatbl td{
	font:12px Tahoma, Geneva, sans-serif; color:#006; ; 
}

#datatbl th, #datatbl td{text-align:center;padding:.5em;border:1px solid #fff;}
#datatbl th{background:#328aa4;color:#fff;}
//#datatbl td{background:#e5f1f4;}

/* tablecloth styles */
#datatbl tr:nth-child(even) {background: #e5f1f4}
#datatbl tr:nth-child(odd) {background: #FFF}





/* use this if you want to apply different styleing to empty table cells*/
#datatbl td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}


.repbanner{
	
	width:100%;color:rgba(255,255,255,0.7); height:150px; font-family:Tahoma, Geneva, sans-serif; font-size:9px; text-align:left; background:url(../img/ban.png) no-repeat center #006;
	}
	
.tox td{
	color:#FFF;
	background-color:#0CC;
	font-weight:bold;
	
	
	}.toxz td{
	color:#FFF;
	background-color:#9F9;
	font-weight:bold;
	
	
	}
	.deleted td{
		
		color:#FFF;
	background-color:#000;
	font-weight:bold;
	text-align:center;
		}
                
                
                
input[type=text],input[type=email],input[type=number],select{
  border-radius:2px; margin:1px; padding:2px; line-height: 24px;
  font-size: 12px; font-family: 'bodyfont';
   border:solid 1px #ccc;
} 

.well2{padding: 30px; margin: 30px;}

i{ color:#663333}

.viewlink{cursor:pointer}
/* input[type=text],input[type=email],input[type=number],select { min-width: 170px; margin:5px 5px 0 5px;  width: 95%; max-width: 300px;} */
.trhead{ font-size: 14px; color:#663333; font-weight: bold;}


.panel-heading{ padding: 2px 10px; margin: 0;}


.nextday{position:fixed; top:200px; right:0px; background:#C00; padding:5px;}
.prvday{ position:fixed; top:200px; left:0px;background:#C00; padding:5px;}



  @media screen
   {
  
    #footer {
            display: none; visibility: hidden;
        }
        
   }
   
   
   
.reqinput{  outline: none !important; border: 1px solid #719ECE;
    border-color: #719ECE;
   
    box-shadow: 0 0 10px #719ECE;}


.reqinput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c00;
}
.reqinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c00;
   opacity:  1;
}
.reqinput::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c00;
   opacity:  1;
}
.reqinput:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #c00;
}





.has-danger input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #843534;
}
.has-danger input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #843534;
   opacity:  1;
}
.has-danger input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #843534;
   opacity:  1;
}
.has-danger input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #843534;
}


 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-right-width: 5px;
    border-radius: 3px;
}

.bs-callout:hover {
    -webkit-box-shadow: 0px 2px 3px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px -4px rgba(0,0,0,0.75);
}
.bs-callout a:hover{
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-right-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-right-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-right-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-right-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-right-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-right-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


.messagebox{
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 15px 7px;
    margin: 5px;
    width: 100%;
    min-height: 70px;

}
.messagebox-me{
    background-color: #e4ebf8;
}

.messagebox-other{
    background-color: #5bc0de;
}

.messagebox-me-time{
    text-align: right;
    float: right;
 margin-right: 15px;
 color: #ccc;
}

.messagebox-other-time{
    text-align: left;
    float: left;

    color: #ccc;
   }


   .txt-bold{
       font-weight: bold;
   }


/* Top Menu */
.navbar-nav>li>.dropdown-menu{
    width: 220px;
}


#todolist1 tr:hover a.tickbox{
    visibility: visible !important;
}

#todolist1 .tickbox i{
    font-size: 20px;
}


.text-green, .text-green *{
color: #5cb85c;
}

.text-gray, .text-gray *{
    color: #ccc;
}

#notifications i, #userinfo i, #messagebox i  {
    font-size:20px;
    margin: 0;
    padding: 0;


}

.red-att{
    color: Tomato;
}
/* #notifications sup{

   // background: #c00;
    //border-radius: 10px;
   // color: white;
} */


#notifications:hover sup, #messagebox:hover sup {
    color: #5cb85c;
}

#notifications:hover i, #messagebox:hover i {
    color: #5cb85c;
}
#not-list>li>a {
    line-height:1.4;
    white-space: normal; 
    font-family: tahoma;
}
#not-list .text-right {
font-size: 10px;
}

.bold{
    font-weight: 900;
}


#groupbody .panel-heading {
    padding: 12px;

}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    line-height: 1.9;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-left: 5px;
}

#groupchat
{
    overflow-y: scroll;
    height: 450px;
}

#groupchat .chat-img{
    margin: 0 10px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



.form-inline label.form-control {

}
label.col-md-8 {
    width: 66.66666667% !important;
}

.panel-default>.panel-heading {
    padding: 10px;
}


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #5cb85c;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #5cb85c;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #C3D1EC;
      box-shadow: -180px 0 0 180px #C00;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #C00; 
}
input[type="range"]::-moz-range-track {  
  background-color: #5cb85c;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #C00; 
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: #5cb85c;
  }


  #tic_progress {
      height: 20px;
  }


